<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FlowChart.NET" publicKeyToken="7BAB251DC203BF49" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.20609" newVersion="4.2.0.20609"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interface" publicKeyToken="8CB361A6244C44C8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.28260" newVersion="4.2.0.28260"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
